.contentContainer{
    background-color: $innerskin;
    height: calc(100vh - #{$header-height});
}

.tag-list{
    height: 3.5rem;
    background-color: $outerskin;
    width: calc(100vw - #{$sidebar-width});
    border-top: .05rem solid $paddingskin;
    border-bottom: .05rem solid $paddingskin;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

.tag{
    /* padding: 0.2rem 1rem 0.5rem 1rem; */
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid $borderskin;
    background-color: $paddingskin;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem .3rem;
    text-transform: capitalize;
    white-space: nowrap;
    font-size: 0.9rem;
    line-height: normal;
    /* max-width: 10rem; */
    width: auto;
    text-overflow: ellipsis;
}

.inner__tag{
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
}