.video-container {
  min-height: calc(100vh - calc(#{$header-height} + #{$tag-list-height}));
  width: calc(100vw - $sidebar-width);
  overflow-x: hidden;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem,18.5rem));
  grid-auto-rows: 17.8rem;
  grid-gap: 2.5rem 1rem;
  place-items: center;
  place-content: center;
  padding: 1.5rem;
  padding-right: 0rem;
  background-color: $innerskin;
}

.video {
  @include dimension(100%, 100%);

  border: 1px solid white;
  display: grid;
  place-items: center;

}
