@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import "./styles/variables";
@import "./styles/header";
@import "./styles/sidebar";
@import "./styles/contentContainer";

.app {
  color: white;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $innerskin;
  padding-top: $header-height;
  padding-left: $sidebar-width;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

}

::-webkit-scrollbar {
  visibility: hidden;
}
