@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import "./styles/variables";
@import "./styles/header";
@import "./styles/sidebar";
@import "./styles/contentContainer";
@import "./styles/videoContainer";


.hide{
  display: none;
}

.app {
  color: white;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $innerskin;
  padding-top: calc(#{$header-height} + #{$tag-list-height});
  padding-left: $sidebar-width;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  @include scrollBar;
}

html,
body {
  @include scrollBar;
  &::-webkit-scrollbar-track {
    background: $innerskin;
  }
}
::-webkit-scrollbar {
  visibility: hidden;
}
